<form class="example-form" [formGroup]='usersForm'>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Choose a City" [matAutocomplete]="auto" formControlName='userInput'>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="50"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option  *ngFor="let city of filteredCities" [value]="city" (onSelectionChange)="onChangeOfCity(city)">
        <span>{{ city.LocalizedName }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</form>

